<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

</head>
<body>
    <div class="main w-full bg-gray-950 min-h-screen color-gray-50 text-white">
        <div class="form p-10 ">
            <a class="text-blue-500 inline-block mb-10" href="/">Go Back</a>
            <h1 class="text-3xl tracking-tighter"><%=filename %></h1>
            <p class="mt-5 text-lg"><%=data %></p>
        </div>
    </div>
    
</body>
</html>